@media screen and (max-width: 1157px) {
  .employees-section {
    display: none;
  }

  /* .section-item-link {
    display: none;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .section-item-link {
    display: none;
  }

  /* .page-header {
    padding: 0;
  } */

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    /* border-bottom: 1px solid #e7e9fc; */
    /* padding-bottom: 22px; */
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 120px;
  }

  /* .site-nav-item:not(:last-child) {
    margin-right: 40px;
  } */

  /* .site-nav-item:not(:first-child) {
    margin-left: 40px;
  } */

  .site-nav-link {
    color: var(--text-color);
    font-weight: 500;
    transition: color var(--transition-duration-and-func);
  }

  .site-nav-link:hover,
  .site-nav-link:focus {
    color: var(--accent-color);
  }

  .menu-contacts {
    /* display: flex;
    align-items: center; */

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .site-nav-studio {
    display: block;
    position: relative;
    transition: background-color var(--transition-duration-and-func);
  }

  .site-nav-studio::after {
    position: absolute;
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    margin-top: 24px;
  }

  .site-nav-studio:hover,
  .site-nav-studio:focus {
    color: var(--accent-color);
  }

  .site-nav-portfolio {
    display: block;
    position: relative;
    color: currentColor;
    transition: background-color var(--transition-duration-and-func);
  }

  .site-nav-portfolio::after {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 4px;
    background-color: #404bbf;
    margin-top: 24px;
  }

  /* .menu-item:first-child {
    margin-bottom: 12px;
  } */

  .contacts .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-left: 122px;
    color: #434455;
    transition: color var(--transition-duration-and-func);
  }

  /* .contacts .link:hover,
  .contacts .link:focus {
    color: var(--accent-color);
  } */

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav-contacts {
    display: block;
    position: relative;
    color: currentColor;
    transition: background-color var(--transition-duration-and-func);
  }

  .site-nav-contacts::after {
    position: absolute;
    display: block;
    content: "";
    width: 67px;
    height: 4px;
    background-color: #404bbf;
    margin-top: 24px;
  }

  .contacts {
    transition: color var(--transition-duration-and-func);
  }

  .site-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .site-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }

  /* .contacts .link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-left: 122px;
    color: #434455;
    transition: color var(--transition-duration-and-func);
  } */

  .menu-list .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .menu-list .link:hover,
  .menu-list .link:focus {
    color: var(--accent-color);
  }

  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--text-color);
  }

  .list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: #434455;
    margin-bottom: 8px;
  }
}

.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tablet@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .hero-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02;
    max-width: 496px;
    margin-bottom: 36px;
    color: #ffffff;
  }

  .section-feature {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .list-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: start;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #2e2f42;
  }

  .list-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
  }
  .section-item {
    flex-basis: calc((100%-24px) / 2);
  }

  .section-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* .section-item:not(:last-child) {
    margin-bottom: 72px;
  } */

  .section-item-link {
    display: none;
  }

  .section-item {
    flex-basis: calc((100%-24px) / 2);
  }
}

/* .modal-btn {
    display: flex;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-duration-and-func);
  }

  .modal-btn:hover,
  .modal-btn:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  } */
